@import url('./normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;600&display=swap');


html{
    box-sizing: border-box;
}
*, *::after, *::before{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
h3{
    padding: 1rem;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
iframe{
    margin: 1rem;
}
html, body{
    height: 100%;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    color: #fff;
    background-color: #a8d0f5;
    background-image: url(../images/pngwing.com.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    text-align: center;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
}

/* HEADER */
.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.logo{
  width: 12rem;
  padding: 1rem 0;
  filter: drop-shadow(5px 5px 5px #8fb6d0);
}

.menu-main{
    top: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    border-radius: 0 0 1rem 1rem;
    border: #d0e9fc;
    background: #a8d0f5;
    box-shadow:  -9px -9px 17px #8fb1d0,
             9px 9px 17px #c1efff;
    height: 5.3rem;
    padding: 1rem;
}
.menu-list{
    display: flex;
}
.active{
    color: #1e1e2b;
}
.menu-list__item {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    transition: .5s ease;
}
.menu-list__item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #fff;
    transition: .5s ease;
}
.menu-list__item:hover {
    color: #1e1e2b;
    transition-delay: .2s;
}
.menu-list__item:hover::before {
    width: 100%;
}
.menu-list__item:hover::after {
    height: 100%;
    transition-delay: 0.3s;
    color: #fff;
}

.main{
    margin: 2rem;
    flex: 1 1 auto;
}

/* FORM */
.form{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.form__img{
    width: 30rem;
    filter: drop-shadow(5px 5px 5px #8fb3d0);
}
.form-space{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem;
    padding: 1rem;
    margin-top: 5rem;
    margin-bottom: 1.5rem;
    gap: 1.5rem;
    border-radius: 50px;
    background: #a8d0f5;
    box-shadow:  -11px 11px 42px #86a6c4,
             11px -11px 42px #cafaff;
}
.hello{
    text-align: center;
}
.container-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    margin: 1rem;
    border: none;
    outline: none;
    max-width: 190px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 1rem;
    color: #fff;
    background: #a8d0f5;
    box-shadow: inset 20px 20px 60px #8fb1d0,
                inset -20px -20px 60px #c1efff;
}
.name-input::placeholder{
    color:#ffffffb0;
}
.color-input{
    padding: 1rem;
    width: 5rem;
    height: 5rem;
}

/* button войти */
.welcome {
    margin: 2rem;
    cursor: pointer;
}
.welcome span {

    padding-right: 15px;
    text-transform: uppercase;
}
.welcome img {
    width: 1.5rem;
    transform: translateX(-8px);
    transition: all 0.3s ease;
}
.welcome:hover img {
    transform: translateX(0);
}
.welcome:active img {
    transform: scale(0.9);
} 
.hover-underline-animation {
    position: relative;
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
}
.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.welcome:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* CARDS */
.cards{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.cards__set{
    border-radius: 1rem;
    background: #a8d0f5;
    box-shadow:  -11px 11px 42px #86a6c4,
             11px -11px 42px #cafaff;
    padding: 1.5rem;
}
.cards__rows{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

/* CARD ANIMATION */
.myCard {
    width: 190px;
    height: 254px;
    perspective: 1000px;
    margin: 1.5rem;
}
.myCard img{
    width:190px;
    height: 254px;
    aspect-ratio: auto;
    border-radius: 1rem;
}
.title-card {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
    padding-bottom: 1rem;
}
.innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}
.myCard:hover .innerCard {
    transform: rotateY(180deg);
}
.frontSide,
.backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
    color: white;
    font-weight: 700;
}
.backSide,
.backSide::before {
    background: linear-gradient(225deg, #b4dfff, #97bbdd);
    box-shadow:  -11px 11px 42px #86a6c4,
                11px -11px 42px #cafaff;
}
.backSide {
    transform: rotateY(180deg);
}

/* FOOTER */
.footer{
    font-size: 0.8rem;
}
.footer-items{
    display: flex;
    justify-content: flex-end;
}
.copyright{
    margin: 1.5rem;
    padding: 0.5rem;
}

